body {
  height: 100%;
  width: 100%;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
}
#root {
  height: 100%;
  padding-bottom: 2%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow-y: scroll;
}
